{
    "channel": "welcome-log",
    "mod_channel": "mod-log",
    "join_title": "Welcome, **{}**!",
    "join_msg": "👍 **{}** has joined the server! 👍",
    "leave_title": "Goodbye, **{}**...",
    "leave_msg": "👎 **{}** has left the server... 👎",
    "kick_title": "**{}** has been kicked.",
    "kick_msg": "**{}** has been kicked by **{}**.",
    "ban_title": "**{}** just got banned from the server, GG!",
    "ban_msg": "**{}** has been banned from the server!",
    "ban_title_cmd": "**{}** just got banned from the server, GG!",
    "ban_msg_cmd": "**{}** has been banned from the server by **{}**!",
    "unban_title": "**{}** has been unbanned from the server!",
    "unban_msg": "**{}** has been unbanned from the server!",
    "purge_title": "Purge",
    "purge_msg": "{} of **{}**'s messages have been purged by **{}**.",
    "timeout_role": "Timeout",
    "timeout_title": "**{}** has been put on timeout.",
    "timeout_msg": "**{}** has been put on timeout by **{}** for `{}` seconds.",
    "untimeout_title": "**{}** is no longer on cooldown.",
    "untimeout_msg": "**{}** is no longer on cooldown.",
    "lockdown_role": "Lockdown",
    "lockdown_title": "The server is on lockdown.",
    "lockdown_msg": "The server has been put on lockdown by **{}**.",
    "unlockdown_title": "The server is no longer on lockdown.",
    "unlockdown_msg": "The server has been put out of lockdown by **{}**."
}